@font-face {
    font-family: 'benzin-bold';
    src: url('shrifts/benzin-bold.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-light';
    src: url('shrifts/Gilroy-Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-bold';
    src: url('shrifts/Gilroy-ExtraBold.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
h3{
    font-family: 'benzin-bold', sans-serif;
    font-size: 20px;
}
body {
    font-family: 'gilroy-light', sans-serif;
    background-color: black;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    background-color: #000;
    color: white;
    width: 1340px;
    margin: 0 auto;
}

.contacts .buy-header-btn {
    background: #3805F2;
    color: #000000;
    border: none;
    padding: 15px 25px;
    border-radius: 40px;
    font-family: 'benzin-bold', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.contacts .buy-header-btn:active {
    outline: 1px solid white;
}
.logo img {
    height: 37px;
}

.logo:hover{
    cursor: pointer;

}

ul{
    list-style-type: none;
}

.menu ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 5px;
    transition: 0.3s;
    font-family: "gilroy-light", sans-serif;
    font-size: 16px;
}

.menu ul li a:hover {
    background-color: #555;
}

.contacts ul {
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
}

.contacts ul li img {
    height: 30px;
    cursor: pointer;
}

.contacts ul li strong {
    font-family: "gilroy-light", sans-serif;
    font-size: 18px;
    color: white;
}

.contacts ul li:last-child img {
    width: 160px;
    height: auto;
}

.banner {
    width: 1340px;
    height: 992px;
    margin: 0 auto;
    margin-top: 28px;
}

.banner .cel {
    position: relative;
    width: 1340px;
    height: 493px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 40px 0px;
    background-color: #fff;
    color: #000;
    overflow: hidden;
    border-radius: 55px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.banner .cel h1 {
    font-size: 64px;
    line-height: 1;
    font-family: 'benzin-bold', sans-serif;
}

.banner .cel h1 span {
    color: #3805F2;
}

.banner .cel p {
    font-family: "gilroy-light", sans-serif;
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.5;
}

.banner .pod {
    margin-top: 74px;
    background-color: #3805F2;
    color: #fff;
    width: 280px;
    height: 68px;
    border: none;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition:
        background-color 0.5s ease,
        color 0.3s ease,
        box-shadow 0.3s ease;
}

.banner .pod:hover {
    background-color: white;
    color: #000000;
    box-shadow: 0 0 25px #a855f7;
    border: 1px solid #3805F2;
    color: #3805F2;
}
.banner .pod:active {
    color: #000000 !important;
    box-shadow:
        0 0 8px #3805F2,
        0 0 8px #3805F2;
}
.banner .plan {
    position: absolute;
    bottom: 0;
    left: 495px;
}

.banner .layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.banner .left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.banner .for {
    position: relative;
    width: 427px;
    height: 282px;
    background-color: white;
    border-radius: 55px;
    padding: 30px 40px;
    margin-right: 20px;
}
.banner .h32{
    font-family: "benzin-bold", sans-serif;
    font-size: 40px;
}
.banner .t2{
    font-family: "gilroy-light", sans-serif;
    font-size: 22px;
}

.banner .cir {
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: transform 0.5s ease;
}

.banner .cir:hover {
    transform: rotate(-90deg);
}

.banner .disc {
    position: relative;
    width: 427px;
    height: 189px;
    background-color: #3805F2;
    color: #ffffff;
    border-radius: 55px;
    padding: 30px 30px;
    margin-right: 20px;
}

.banner .gul {
    width: 899px;
    height: 485px;
    background-color: white;
    border-radius: 55px;
    flex: 2;
    padding: 20px;
    background-image: url("images/background.jfif");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.banner .log img {
    width: 266px;
    height: 70px;
    margin-bottom: 30px;
}

.banner .stats {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
    gap: 20px;
}

.banner .stat-item {
    text-align: center;
    background: #fff;
    color: #000;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.banner .stat-item h3 {
    font-family: "benzin-bold", sans-serif;
    margin: 0;
    font-size: 24px;
    color: #000;
}
.banner .stat-item p{
    font-family: "gilroy-light", sans-serif;
    font-size: 16px;
}

.banner .stat-item.center {
    background: #4b00ff;
    color: #fff;
    width: 220px;
    height: 220px;
}

.banner .stat-item.center h3 {
    color: #fff;
}

.events{
    margin-top: 150px;
}
.events * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-family: 'benzin-bold', sans-serif;
    font-size: 56px;
}

.events body {
    background: #0A0F24;
    color: #FFFFFF;
    font-family: 'gilroy-light', sans-serif;
    line-height: 1.6;
}

.events .container {
    width: 1340px;
    height: 880px;
    margin: 0 auto;
}

.events .title-decoration {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
}

.events .title-icon {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.events .section-title {
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;
}

.events .filters {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.events .filter-btn {
    background:none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 12px 30px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'gilroy-light', sans-serif;
    font-size: 16px;
}
.events .filter-btn.active{
    background-color: #3805F2;
    border: none;
}

.events .filter-btn:hover {
    border: 2px solid white;
}
.events .filter-btn:focus {
    background-color: #3805F2;
    border: none
}

.events .event-card {
    display: grid;
    grid-template-columns: 313px 287px 656px;
    height: 179px;
    gap: 38px;
    margin-bottom: 60px;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.5s ease;
}
.events .event-card:hover{
    background-color: #3805F2;
}
.events .event-card:hover .event-image{
    transform: scale(1.05)
}

.events .image-wrapper {
    position: relative;
    display: inline-block;
}

.events .event-image {
    width: 313px;
    height: 159px;
    object-fit: cover;
    border-radius: 55px;
    border: 2px solid #2D3748;
    margin-bottom: 10px;
    transition: transform 0.5s ease-in-out;
}

.events .event-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    z-index: 2;
}

.events .program-type {
    color: #FFFFFF;
    font-family: 'gilroy', sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.events .event-title {
    width: 222px;
    height: 84px;
    font-family: 'benzin-bold', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.events .event-description {
    font-family: "gilroy-light", sans-serif;
    margin-top: 20px;
    color: #ffffff;
    font-size: 16px;
    opacity: 0.9;
    margin-bottom: 15px;
}

.events .action-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.events .price-group {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.events .prices {
    display: flex;
    gap: 30px;
    align-items: center;
}

.events .price-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.events .price-icon {
    width: 24px;
    height: 24px;
}

.events .price {
    font-family: 'gilroy-light', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #FFFFFF;
    white-space: nowrap;
}

.events .buttons-group {
    display: flex;
    gap: 15px;
}

.events .btn {
    padding: 12px 30px;
    border: none;
    border-radius: 48px;
    cursor: pointer;
    transition: all 0.3s;
    white-space: nowrap;
    position: relative;
}

.events .date-btn {
    font-family: 'gilroy-light', sans-serif;
    font-size: 14px;
    background: transparent;
    border: 1px solid #718096;
    color: #718096;
    padding-right: 40px;
    transition: all 0.3s;
}

.events .date-btn::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23718096'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E") no-repeat center;
    transition: inherit;
}

.events .buy-btn {
    font-family: 'bezin-bold', sans-serif;
    font-size: 16px;
    background: #3805F2;
    color: #ffffff;
}

.events .event-card:hover .buy-btn{
    background-color: #ffffff;
    color: #000000
}
.events .event-card:hover .buy-btn:hover{
    background-color: #3805F2;
    color: #ffffff
}

.events .show-more {
    text-align: center;
    margin-top: 40px;
}

.events .show-more-btn {
    font-family: "benzin-bold";
    font-size: 16px;
    background: #FFFFFF;
    border: 2px solid transparent;
    color: #000000;
    padding: 15px 45px;
    border-radius: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s;
}
.events .show-more-btn:hover {
    background-color: #3805F2;
    color: #ffffff;
}

.promo .zv {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.promo {
    width: 1340px;
    height: 577px;
    margin: 0 auto;
    margin-top: 250px;
}

.promo h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'benzin-bold',sans-serif;
    font-size: 56px;
    margin-bottom: 40px;
}

.promo .promo-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

.promo .promo-card {
    position: relative;
    width: 426px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.promo .promo-card img {
    width: 100%;
    display: block;
}

.promo .promo-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 167px;
    background-color: #4a00e0;
    color: white;
    padding: 20px;
    border-top-right-radius: 95px;
    border-bottom-right-radius: 55px;
    border-bottom-left-radius: 55px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.promo .promo-content h3 {
    font-family: 'benzin-bold';
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.promo .promo-content p {
    font-family: 'gilroy-light',sans-serif;
    margin: 10px 0 0;
    font-size: 16px;
}

.promo .promo-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: none;
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

.promo .promo-btn img {
    width: 18.5px;
    height: 20px;
}

.promo .promo-card:hover {
    cursor: pointer;
}

.promo .promo-card:hover .promo-content {
    background-color: white;
    color: black;
}

.promo .promo-card:hover .promo-btn {
    transform: rotate(-90deg);
    background-color: #3805F2;
}
.zvz {
    position: absolute;
    top: 2335px;
    right: 2px;
    width: 117px;
    height: auto;
    z-index: 5;
}

.otz{
    margin-top: 150px;
}
.otz body {
    font-family: 'gilroy-light',sans-serif;
    font-size: 16px;
    max-width: 1400px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #000000;
    color: #ffffff;
    position: relative;
}

.otz .header-icon-btn {
    background: transparent;
    border: none;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition:
        background 0.3s ease,
        transform 0.2s ease;
}

.otz .header-icon-btn:active::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 15px;
    animation: pulse 0.4s;
}


.otz h2 {
    color: #ffffff;
    padding-bottom: 10px;
    text-align: center;
    margin: 40px;
    position: relative;
    font-family: 'benzin-bold', sans-serif;
    font-size: 56px;
}

.otz .header-icons {
    position: absolute;
    top: 50px;
    right: 165px;
    display: flex;
    gap: 10px;
}

.otz .header-icons img {
    width: 26px;
    height: 26px;
}

.otz .reviews-container {
    display: grid;
    grid-template-columns: repeat(4, 312px);
    gap: 20px;
    justify-content: center;
}

.otz .review {
    width: 312px;
    height: 427px;
    padding: 15px;
    border-radius: 55px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.otz .review:nth-child(2),
.otz .review:nth-child(4) {
    background-color: #ffffff;
    color: #000000;
    padding: 40px 15px 15px;
}

.otz .review:nth-child(2) .review-text,
.otz .review:nth-child(4) .review-text {
    font-family: 'gilroy-light',sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    position: relative;
    top: 20px;
}

.otz .review:nth-child(2) .avatar,
.otz .review:nth-child(4) .avatar {
    left: 30px;
    top: 21px;
}

.otz .review:nth-child(2) .user-name,
.otz .review:nth-child(4) .user-name {
    color: #3805F2;
    font-weight: bold;
    margin: 0 0 5px 120px;
}

.otz .review:nth-child(2) .user-role,
.otz .review:nth-child(4) .user-role {
    color: #000000;
    margin: 0 0 15px 120px;
}

.otz .decor-lines {
    position: absolute;
    top: 15px;
    left: 35px;
    right: 15px;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.otz .line {
    width: 20px;
    height: 1px;
    background: white;
}

.otz .avatar {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    position: absolute;
    top: 45px;
    left: 45px;
    object-fit: cover;
}

.otz .review:nth-child(1) .avatar,
.otz .review:nth-child(3) .avatar {
    width: 52px;
    height: 52px;
    top: 30px;
    left: 30px;
}

.otz .review:nth-child(1),
.otz .review:nth-child(3) {
    background:
        linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url('images/card-bg-1.png') center/cover no-repeat;
    color: white;
    padding-top: 100px;
}

.otz .review:nth-child(3) {
    background-image: url('images/card-bg-2.png');
}

.otz .badge-1 {
    width: 150px;
    height: 28px;
    background: #3805F2;
    border-radius: 14px;
    transform: rotate(-2.79deg);
    position: absolute;
    top: 350px;
    left: 132px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.otz .badge-1 span {
    font-family: 'benzin-bold', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.otz .badge-stellarium {
    font-family: 'benzin-bold', sans-serif;
    font-size: 16px;
    width: 112px;
    height: 22px;
    background: white;
    border-radius: 14px;
    transform: rotate(-10.89deg);
    position: absolute;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.otz .badge-stellarium span {
    color: #3805F2;
    font-weight: bold;
}

.otz .badge-caption {
    width: 258px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 14px;
    transform: rotate(-10.89deg);
    position: absolute;
    top: 360px;
    left: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    line-height: 1.2;
    padding: 5px;
    text-align: center;
}

.otz .badge-caption span {
    font-family: 'benzin-bold',sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
}

.otz .icon-large {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 2;
}

.otz .icon-small {
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 3;
}

.otz .icon-large-card3 {
    top: 310px;
    left: 83px;
    transform: rotate(-10.31deg);
    width: 51px;
    height: 51px;
}

.otz .icon-small-card3 {
    top: 328px;
    left: 245px;
    transform: rotate(10deg);
}

.otz .user-name {
    margin: 0 0 5px 105px;
}

.otz .user-role {
    margin: 0 0 15px 105px;
    color: #ecf0f1;
}

.otz .review-text {
    line-height: 1.6;
    margin: 0;
    padding: 0 15px;
}

.FAQ {
    font-family: 'gilroy-light', sans-serif;
    padding-top: 130px;
    max-width: 1340px;
    height: 799px;
    margin: 0 auto;
    background-color: black;
    color: white;
}

.FAQ h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: 'benzin-bold';
    font-size: 56px;
}

.FAQ .faq-item {
    width: 100%;
}

.FAQ .faq-question {
    background-color: #fff;
    color: #3805F2;
    height: 85px;
    padding: 30px 20px;
    margin-bottom: 20px;
    border-radius: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.FAQ .faq-question1 {
    background-color: #fff;
    color: black;
    height: 85px;
    padding: 30px 20px;
    margin-bottom: 20px;
    border-radius: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.FAQ .faq-question1 .icon1 {
    font-family: 'gilroy-light';
    font-size:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    color: white;
    height: 65px;
    border-radius: 50%;
    font-weight: bold;
    background-color: black;
}

.FAQ .faq-question .icon {
    font-family: 'gilroy-light';
    font-size:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-weight: bold;
    background-color: #3805F2;
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: relative;
}

.FAQ .faq-question:hover {
    color: black;
}

.FAQ .faq-question:hover .icon {
    background-color: black;
}

.FAQ .faq-answer {
    font-family: 'gilroy-light',sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.FAQ .faq-more {
    font-family: 'benzin-bold',sans-serif;
    background-color: #3805F2;
    color: white;
    padding: 15px 30px;
    border: none;
    width: 100%;
    height: 76px;
    border-radius: 55px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: 30px auto 0;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.FAQ .faq-more:hover {
    background-color: white;
    color: black;
}

.FAQ .faq-question .icon::before {
    content: "+";
    position: absolute;
    font-size: 50px;
    color: white;
}

.FAQ .faq-question:hover .icon::before {
    content: "-";
}

.reg{
    margin-top: 150px;
}
.reg * {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.reg body {
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reg .main-title {
    text-align: center;
    padding: 2rem 0;
    width: 100%;
}

.reg h2 {
    color: white;
    font-family: 'benzin-bold';
    font-size: 56px;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.reg .container {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 4rem;
    max-width: 1340px;
    height: auto;
    width: 100%;
    justify-content: space-between;
}

.reg .form-content {
    padding: 0 16px;
    width: 540px;
    height: 413px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reg .intro-text {
    font-family: 'gilroy-light',sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 32px;
    text-align: start;
    width: 100%;
}

.reg .form-group {
    margin-bottom: 16px;
    position: relative;
}

.reg input {
    width: 540px;
    height: 62px;
    padding: 19px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    color: #fff;
    transition: all 0.3s ease;
}

.reg input::placeholder {
    color: #ffffff;
    font-size: 16px;
}

.reg input:focus {
    outline: none;
    border-color: #fff;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.reg button {
    font-family: 'benzin-bold',sans-serif;
    font-size: 16px;
    width: 540px;
    height: 56px;
    padding: 19px;
    background: #3805F2;
    border: none;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

.reg button:hover {
    background: #ffffff;
    color: #000000;
}

.reg input {
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
}

.reg input:hover {
    background-color: #3805F2 !important;
    color: white !important;
}

.reg input:focus {
    background-color: #8A2BE2 !important;
    color: white !important;
    box-shadow: 0 0 20px rgba(138, 43, 226, 0.4);
}

.reg .privacy-text {
    font-family: 'gilroy-light', sans-serif;
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    white-space: nowrap;
}

.reg .image-section img {
    width: 700px;
    height: 400px;
    object-fit: cover;
    border-radius: 55px;
    filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.1));
}

.kak {
    margin-top: 150px ;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

.kak * {
    box-sizing: border-box;
}
.kak p {
    font-family: 'gilroy-light',sans-serif;
    color: #ffffff;
    font-size: 12px;
}
.kak body {
    line-height: 1.6;
    padding: 20px;
    width: 1340px;
    height: 763px;
    background-color: #000000;
    color: #ffffff;
}

.kak h1 {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 2.5em;
    text-align: center;
}

.kak h2 {
    color: #ffffff;
    margin: 40px 0 20px;
    padding-bottom: 10px;
    font-family: 'benzin-bold';
    font-size: 56px;
    text-align: center;
}

.kak .map-image {
    width: 1340px;
    height: 427px;
    object-fit: cover;
    border-radius: 80px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    margin-bottom: 2px;
}

.kak .contact-row {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
    width: 100%;
}

.kak .address-block {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-self: start;
}
.kak .address p {
    font-family: 'gilroy-light', sans-serif;
    color: #ffffff;
    font-size: 16px;
}
.kak .address-icon {
    object-fit: contain;
}

.kak .center-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-left: 15%;
}
.kak .center-icons:hover {
    border-color: #FFFFFF;

}

.kak .right-block {
    display: flex;
    align-items: center;
    gap: 14px;
    justify-self: end;
}

.kak .social-icon {
    gap: 15px;
}

.kak .phone {
    font-family: 'gilroy-light', sans-serif;
    white-space: nowrap;
    font-size: 16px;
    color: #ffffff;
}

.footer-grid-wrapper {
    display: grid;
    grid-template-columns: auto 888px;
    align-items: center;
    gap: 273px;
    max-width: 1340px;
    margin: 0 auto;
}

.privacy-policy {
    justify-self: start;
    white-space: nowrap;
}

.kak .newsletter-section {
    width: 888px;
    height: 120px;
    background: #ffffff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 0 45px;
    box-sizing: border-box;
    gap: 10px;
}

.kak .newsletter-title {
    font-family: 'benzin-bold';
    font-size: 20px;
    color: #3805F2 ;
    width: 180px;
    flex-shrink: 0;
    line-height: 1.3;
    margin: 0;
}

.kak .newsletter-form {
    flex: 1;
    min-width: 0;
    margin: 0 10px;
}

.kak .newsletter-input {
    width: 312px;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.kak .newsletter-input:hover {
    background-color: #3805F2 ;

}

.kak .newsletter-button {
    font-family: 'benzin-bold',sans-serif;
    font-size: 16px;
    width: 235px;
    flex-shrink: 0;
    padding: 12px 30px;
    background: #3805F2;
    color: white;
    border-color: #FFFFFF;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.kak .newsletter-button:hover {
    background-color: #FFFFFF;
    color: #000000;
    border-color: #3805F2;
}

.kak .subtract-image {
    position: absolute;
    top: 240px;
    left: 405px;
    z-index: 2;
}

.kak .subtract-image img {
    width: auto;
    height: auto;
}